<div class="row">
  <div class="col-12 inputs-section">
    <h3 class="inputs-title">Enter Your Payments Data</h3>
    <label for="name"><h4>Object Bought</h4></label>
    <input type="text" placeholder="Dinner at KFC" />
    <label for="price"><h4>Money Spent</h4></label>
    <input type="text" placeholder="12.30" />
    <label for="domain"><h4>Expense Type</h4></label>
    <select name="type">
      <option selected disabled hidden>Select Your Type</option>
      <option value="food">Food</option>
      <option value="necesities">Necesities</option>
      <option value="misc">Misc</option>
    </select>
    <button class="btn add-button">Add Expense</button>
  </div>
</div>
