<div class="row">
  <div class="col-12 inputs-section">
    <h3 class="inputs-title">Enter Your Payments Data</h3>
    <label for="name"><h4>Object Bought</h4></label>
    <input type="text" placeholder="Dinner at KFC" #title />
    <label for="price"><h4>Money Spent</h4></label>
    <input type="number" placeholder="12.30" #price />
    <label for="domain"><h4>Expense Type</h4></label>
    <select name="type" #selectType>
      <option selected disabled hidden>Select Your Type</option>
      <option value="Food">Food</option>
      <option value="Necesities">Necesities</option>
      <option value="Misc">Misc</option>
    </select>
    <div class="row buttons">
      <div class="col-6">
        <button
          class="btn add-button"
          (click)="addExpense(title.value, price.value, selectType.value)"
        >
          Add Expense
        </button>
      </div>
      <div class="col-6">
        <button class="btn clear-button" (click)="clearExpenses()">
          Clear Expenses
        </button>
      </div>
    </div>
    <div class="col-12 total-expenses">
      <h4>Total expenses on {{ type }} : ${{ expenses }}</h4>
    </div>
  </div>
</div>
