* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.main-image {
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/dollars-499481_1920.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 4rem;
    cursor: default;
  }
}

.data-section {
  background: #333;
  padding: 50px 0;
}
